* {
	margin: 0;
	padding: 0;
}
li, .links {
	color: black;
	list-style: none;
	text-decoration: none;
}
.home-link:hover {
	color: red;
}
.about-link:hover {
	color: red;
}
.contact-link:hover {
	color: red;
}