html {
	margin: 0px;
	padding: 0px;
}
a {
	color: black;
	cursor: pointer;
	text-decoration: none;
}
p {
	font-family: 'Open Sans', sans-serif;
	pointer-events: none;
}
span {
	font-family: 'Open Sans', sans-serif;
	pointer-events: none;
}
h1, h2, h3, h4, h5 {
	font-family: 'Lobster', cursive;
	pointer-events: none;
}
a {
	font-family: 'Indie Flower', cursive;
}
th {
	font-family: 'Heebo', sans-serif;
}
header {
	width: 100%;
	align-content: center;
	float: left;
	padding: 0;
	margin: 0;
	height: 60px;
	border-bottom: turquoise;
    border-width: thick;
    border-bottom-style: solid;
}
.logo {
	float: left;
	width: 75px;
	height: 60px;
}
nav {
	align-content: center;
	padding: 0;
	margin: 0;
}
nav ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
nav ul a {
	margin: 0px;
	display: inline-block;
	padding: 18.5px 56px;
}
nav ul a:hover {
	margin: 0px;
	display: inline;
	float: left;
	color: white;
	background-color: grey;
	border-bottom: turquoise;
    border-width: thick;
    border-bottom-style: solid;
}
.navbar {
	align-content: center;
	float: left;
	padding: 0;
	margin: 0;
	display: flex;
}
.title {
	float: left;
    padding: 75px 5px 15px;
    margin: 0;
    position: absolute;
}
body {
	margin: 0;
	padding: 0;
}
.wrapper {
	height: 100%;
	width: auto;
	padding: 60px 150px 0;
}
.wrapper .heading {
	text-align: center;
}
.wrapper .about-heading {
	text-align: center;
}
.main-text {
	padding: 0px 0px 15px 0;
}
.store-items {
	width: 100%;
}
.store-items .ii {
	width: 60px;
	font-family: 'Anton', sans-serif;
	pointer-events: none;
}
.store-items .in {
	width: 60px;
	font-family: 'Anton', sans-serif;
	pointer-events: none;
}
.store-items .idesc {
	width: 30px;
	font-family: 'Anton', sans-serif;
	pointer-events: none;
}
.store-items .pri {
	width: 60px;
	font-family: 'Anton', sans-serif;
	pointer-events: none;
}
.item-image {
	width: 75px;
	height: 70px;
}
.ind-item-image {
	width: 390px;
	height: 300px;
	float: left;
	pointer-events: none;
}
.item-desc-para {
	width: auto;
	pointer-events: none;
}
.pricing {
	font-size: 25px;
	pointer-events: none;
}
footer {
	height: 100px;
}
.footer-copyright {
	justify-content: center;
	width: 100%;
	display: inline-flex;
	font-family: 'Ma Shan Zheng', cursive;
	font-size: 19.5px;
}
@media only screen and (min-width: 1920px) {
	body {
		background-color: white;
	}
}
@media only screen and (max-width: 826px) {
	.pricing, .item-desc-para {
		display: block;
		float: left;
	}
	.ind-item-image {
		width: auto;
	}
}
@media only screen and (max-width: 599px) {
	.ind-item-image {
		width: 100%;
		height: 100%
	}
}